<%- include('partials/header') %>
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<div class="form-container">
    <center>
    <a href="https://github.com/MajeedMirza/HAMS">
    <h1>The Home Automation and Monitoring System is now running.</h1>
    </a>
    </center>
<style>
h1 {
color: white;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body { 
    background:pink;
    }

</style>