<%- include('partials/header') %>
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<div class="form-container">
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <h2>Login</h2>
    <form method="post">
        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/select" class="btn btn-link">Register</a>
        </div>
    </form>
</div>
<style>
.form-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h4 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h4 span { 
    background:#fff; 
    padding:0 10px; 
}

body { padding: 2em; }

</style>